/* --- Frame --- */

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.copy {
    height: 87%;
    position: absolute;
    z-index: -1;
}

img {
    height: 100%;
    width: auto;
}

.container {
    height: 87%;
    aspect-ratio: 7/16;
    background-color: black;
    opacity: 1;
    display: grid;
    grid-template-rows: 0.62fr 1fr;
}

.keypad {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 6.5vh;
    gap: 1vh;
    font-size: 3.5vh;
}

/* --- Buttons --- */

#ellipse {
    grid-column-end: span 2;
    border-style: none;
    border-radius: 3vw;
    font-size: 1em;
    font-weight: bolder;
}

.button {
    border-radius: 50%;
    border-style: none;
    font-size: 1em;
    font-weight: bolder;
}

.top {
    background-color: #a5a5a5;
    color: black;
}
 
.number{
    background-color: #333333;
    color: white;
}

.op, #equal{
    background-color: #fea00a;
    color: white;
    transition: background-color 0.5s;
}

.op:focus, #equal:active{
    background-color: white;
    color: #fea00a;
    transition: background-color 0.5s;
}

/* ---screen--- */

.screen {
    font-size: 7.5vh;
    display: flex;
    justify-content: end;
    align-items: end;
    color: white;
    font-weight: lighter;
    margin-bottom: 3%;
    margin-right: 3%;
}

p {
    margin: 0
}